/* Reset some default styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body, h1, h2, p {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #929090;
}
/* Container styles */
.container {
    max-width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}
/* Header styles */
.header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    z-index: 1000;
}
.logo {
    width: 350px;
    height: 130px;
}
.menu-items {
    padding-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.menu-items li a {
    text-decoration: none;
    color: rgb(122, 122, 122);
    font-size: 20px;
    font-weight: 550;
    transition: color 0.3s;
}
.menu-items li a:hover {
    color: #0698f7;
}
.search-menubar {
    width: 15%;
    height: 35px;
    border-radius: 15cap;
    margin-right: 0px;
    padding: 5px;
}
.search-icon {
    display: inline-flex;
    width: 50px;
    height: 25px;
    color: rgb(133, 132, 132);
    font-weight: bold;
}
.search-input {
    width: 200px;
    max-width: 0;
    padding: 5px;
    transition: all 0.5s ease;
    outline: none;
    border: 0px solid #666666;
    border-radius: 2cap;
    opacity: 0;
    font-size: 15px;
}
.search-expanded {
    max-width: 200px;
    
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.start-button {
    background-color: #2596fc;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    width: 120px;
    height: 33px;
    border: 2px solid #2596fc;
    border-radius: 2cap;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}
.start-button:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
.start-button:hover {
    background-color: #1f7fd4;
}
.start-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
/* Navigation styles */
.nav {
    display: flex;
}
/* Section styles */
.section-cover-container {
    display: flex;
    padding: 5%;
}
.section-cover {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.overly-image {
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 25cap;
    width: 75%;
    display: flex;
    z-index: 1;
}
.section-cover-one {
    width: fit-content;
    justify-content: left;
    padding: 2%;
}
.section-cover-one h1 {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: #5f5f5f;
}
.section-cover-one p {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #666666;
}
.learn-button {
    width: 180px;
    height: 60px;
    margin-left: 200px;
    border-radius: 20cap;
    background-color: #ffff;
    font-weight: bold;
    color: rgb(3, 3, 3) 3b3;
}
.section-one-image {
    width: 100%;
    height: 100%;
    border-radius: 3cap;
}
.learn-more-btn {
    width: 150px;
    height: 50px;
    border-radius: 20cap;
    background-color: #ffff;
    font-weight: bold;
    color: rgb(3, 3, 3) 3b3;
    margin-left: 100px;
}
.section-cover-two {
    padding: 2%;
    width: fit-content;
}
.section-two-image {
    width: 100%;
    height: fit-content;
    border-radius: 3cap;
}
.section-search {
    position: absolute;
    background-position: center center;
    margin: 76cap;
    width: 84%;
    display: flex;
    z-index: 1;
}
.search-content {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    padding: 4cap;
    background-color: #f9f9f9;
    border-radius: 10cap;
    gap: 3cap;
}
.search-content p {
    color: seagreen;
    font-weight: 600;
    font-family: "Helvetica";
}
.icon_one {
    border-radius: 150cap;
    padding: 15px;
    background-color: #e0dede;
    height: 40px;
    width: 40px;
}
.icon_two {
    border-radius: 150cap;
    padding: 15px;
    background-color: #e0dede;
    height: 40px;
    width: 40px;
}
.icon_three {
    border-radius: 150cap;
    padding: 15px;
    background-color: #e0dede;
    height: 40px;
    width: 40px;
}
.option {
    border: 1px solid white;
    width: 15cap;
    outline: none;
}
.search-btn {
    width: 25%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    border-radius: 40px 999em 999em 40px;
    border: 0px;
    background-color: #0698f7;
    color: white;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}
.search-overlay {
    z-index: 1;
    margin: -200px;
}
/* Cards section*/
.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    gap: 1px;
    justify-content: space-evenly;
    margin-bottom: 5%;
    opacity: 1;
    transition: opacity 1s, max-height 1s;
}
.positions-horizontal {
    margin-left: 2%;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-flex;
}
.positions-vertical {
    display: flex;
    flex-direction: column;
    width: 45%;
    /* gap: 1rem; */
}
.cards {
    box-sizing: border-box;
    width: 27%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #dad4d4;
    border-radius: 4cap;
    margin-top: 40px;
    text-align: justify;
    font-family: "Helvetica";
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: opacity 1s, max-height 1s;
}
.cards-content {
    flex-grow: 1;
}
.cards.hidden-card {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, margin 0.5s ease, padding 0.5s ease;
}
.cards:hover {
    transform: scale(1.01);
}
.cards-img {
    border-radius: 4cap;
    padding: 1cap;
    width: -webkit-fill-available;
    height: 400px;
    object-fit: cover;
}
.cards h3 {
    display: flex;
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: rgb(122, 122, 122);
}
.description {
    display: flex;
    justify-content: left;
    margin-left: 25px;
    font-size: 12px;
    color: #666666;
}
.title {
    display: flex;
    margin-left: 35px;
    font-size: 16px;
    margin: 40px;
    color: #666666;
    flex-direction: column;
}
.place-rating {
    position: absolute;
    font-size: 15px;
    margin: 7%;
    background-color: rgb(51 142 51);
    opacity: 0.9;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5cap;
    z-index: 1;
}
.city {
    display: flex;
    width: fit-content;
    margin-left: 9px;
    font-size: 20px;
}
.seemore {
    height: 60px;
    border: 2px solid #858585;
    padding: 15px 30px;
    border-radius: 5cap;
    font-weight: 600;
    font-size: 15px;
    color: #464141;
    background-color: #ffff;
    margin-left: 100px;
    margin-top: 20px;
    align-self: auto;
}
.seemore:hover, .seemore:focus {
    transform: scale(1);
}
.seemore:active {
    background-color: #ffffff;
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}
.see-more-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
    transition: height 1.5s ease;
}
.see-more-btn {
    border: none;
    background-color: #0698f7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.see-more-btn:hover {
    background-color: #0077ff;
    transform: scale(1.05);
}
@keyframes clickAnimation {
    0% {
        transform: scale(1);
   }
    50% {
        transform: scale(1.2);
   }
    100% {
        transform: scale(1);
   }
}
.see-more-btn:active {
    animation: clickAnimation 0.3s;
}
.cards-header {
    margin: auto;
    text-shadow: 0 0 black;
    display: block;
    text-align: center;
    margin-top: 65px;
}
.cards-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cards-header h1 {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: #5f5f5f;
}
.cards-header p {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    color: #7e7e7e;
    font-size: 20px;
    font-style: oblique;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 25px;
}
.service-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    border-radius: 4cap;
    padding: 3%;
    gap: 1px;
    justify-content: space-evenly;
    opacity: 1;
    transition: opacity 1s, max-height 1s;
}
.service-cards {
    box-sizing: border-box;
    width: 27%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #dad4d4;
    border-radius: 4cap;
    margin-top: 40px;
    text-align: justify;
    font-family: "Helvetica";
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: opacity 1s, max-height 1s;
}
.service-cards:hover {
    transform: scale(1.01);
}
.service-more {
    padding: 15px 30px;
    border-radius: 5cap;
    font-weight: 600;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 25px;
    align-self: flex-start;
    border: 1px solid #a4a3a3;
    color: #464141;
    background-color: #ffff;
}
.service-more:hover, .service-more:focus {
    transform: scale(1);
}
.service-more:active {
    background-color: #ffffff;
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}
.service-title {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    margin-left: 15px;
    color: rgb(122, 122, 122);
}
.service-description {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    color: #7e7e7e;
    padding: 20px;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.feedback-slider {
    margin: 30px 0;
    max-width: 50%;
    margin: auto;
}
.feedback-item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    */
}
.feedback-item img {
    border-radius: 50%;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.feedback-item div {
    flex: 1;
   /* Take remaining space */
}
.rating {
    margin-left: 25px;
    font-size: 18px;
    width: fit-content;
    background-color: green;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5cap;
    z-index: 1;
}
.feedback-item h2 {
    display: block;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.feedback-item h3 {
    margin-left: 25px;
    color: #333;
    font-size: 15px;
    margin-right: 45px;
    font-weight: bold;
}
.feedback-item p {
    color: #fff;
    font-size: 16px;
}
.feedback-card {
    box-sizing: border-box;
    width: 27%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5cap;
    margin-top: 40px;
    text-align: justify;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    position: relative;
    overflow: hidden;
}
@media (max-width: 700px) {
    .feedback-slider {
        max-width: 100%;
        margin: auto;
   }
}
.explore-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: space-evenly;
    margin: 7%;
    border-radius: 5cap;
    background-color: #f3f3f3;
    opacity: 1;
    transition: opacity 1s, max-height 1s;
}
.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
    border-radius: 10px;
    position: relative;
}
.explore input {
    width: 61%;
    height: 150px;
    font-weight: 600;
    font-size: 25px;
    color: #868484;
    padding: 35px;
    margin: 11px;
    border-radius: 10cap;
    border: 0px solid aliceblue;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.explore #search::placeholder {
    color: #c0bebe;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
}
.explore button {
    background-color: #2596fc;
    color: #ddd;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: 15%;
    height: 130px;
    border-radius: 10cap;
    border: 2px solid #2596fc;
    transition: background-color 0.3s;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 20%;
}
.explore button:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
.explore button:hover {
    background-color: #1f7fd4;
}
.explore button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .explore input {
        width: 100%;
        height: 60px;
        font-size: 10px;
   }
    .explore button {
        width: 30%;
        height: 60px;
        font-size: 12px;
        right: 15px;
   }
    .explore #search::placeholder {
        color: #c0bebe;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
   }
}
.footer {
    gap: 8%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.footer-column {
    flex: 1;
    text-align: center;
}
.footer-logo img {
    width: 350px;
    height: 130px;
    margin-left: 60px;
}
.footer-logo-description{
    display: flex;
    font-size: 20px;
    margin-left: 125px;
    text-align: left;
}
.footer-title {
    color: #727374;
    text-align: left;
    margin-left: 12px;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer-description, .footer-resources {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    padding: 15px;
}
.footer-resources li {
    list-style: none;
    margin-bottom: 10px;
}
.footer-resources a {
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #a2a2a2;
}
.footer-resources a:hover {
    text-decoration: underline;
    text-decoration: none;
}
/* For Desktop View */
@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
   }
}
.copyright {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    color: #787676;
    text-align: center;
}
/* Media query for screens smaller than 1600px */
@media (max-width: 1300px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        padding: 10px;
        left: 0;
        width: 100%;
        background-color: #e2e1e1;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   }
    .nav.open {
        display: flex;
   }
    .menu-items {
        flex-direction: column;
   }
    .menu-items li a {
        margin-bottom: 10px;
        list-style: none;
        text-decoration: none;
        color: #000000;
   }
    .menu-toggle {
        display: block;
   }
    .bar {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 6px 0;
        transition: 0.4s;
   }
    .bar.open {
        transform: rotate(-45deg) translate(-5px, 6px);
   }
    .bar.open:nth-child(2) {
        opacity: 0;
   }
    .bar.open:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
   }
    .container.menu-open {
        overflow: hidden;
   }
}
/* Media query for screens smaller than 1200px */
@media (max-width: 1300px) {
    .section-cover-container {
        flex-direction: column;
        align-items: center;
   }
    .section-cover-one p {
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 40px;
        color: #666666;
   }
    .section-cover-one h1 {
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
        font-style: normal;
        font-size: 30px;
        color: #5f5f5f;
   }
    .section-cover {
        width: -webkit-fill-available;
   }
    .section-cover-one {
        width: -webkit-fill-available;
        justify-content: center;
   }
    .section-cover-two {
        display: none;
   }
}
/* Responsive columns */
@media only screen and (max-width: 767px) {
    .cards-container {
        padding: 15px;
   }
    .service-container {
        padding: 15px;
   }
    .cards {
        width: 100%;
        margin-top: 20px;
   }
    .service-cards {
        width: 100%;
        margin-top: 20px;
   }
    .cards-img {
        height: 200px;
   }
    .overly-image {
        display: none;
   }
    .title {
        margin: 20px 0;
   }
    .see-more-container {
        margin: 20px;
   }
    .see-more-btn {
        padding: 8px 15px;
   }
    .cards-header h1 {
        font-size: 30px;
   }
    .cards-header p {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 20px;
   }
}
@media (max-width: 1300px) {
    .explore-container {
        max-width: 85%;
        border-radius: 6px;
        gap: 1px;
        margin: auto;
        margin-top: 60px;
        padding: 25px;
        transition: height 0.5s ease;
   }
}
/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .container {
        padding: 10px;
   }
    .section {
        margin-bottom: 10px;
   }
}
/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        flex-direction: column;
   }
    .footer-column {
        margin-bottom: 20px;
   }
}
/* For Mobile View */
@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
   }
    .footer-column {
        margin-bottom: 20px;
   }
    .footer-logo img {
        width: 60px;
        height: 60px;
   }
    .footer-title {
        font-size: 16px;
   }
    .footer-description, .footer-resources {
        font-size: 12px;
   }
}
